<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/Areas/Administrator/Content/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Areas/Administrator/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <!-- overlayScrollbars -->
    <link href="~/Areas/Administrator/Content/dist/css/adminlte.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">


    <!-- My CSS -->
    <link href="~/Areas/Administrator/Content/dist/mycss/mycss.css" rel="stylesheet" />

    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        @Html.Partial("~/Areas/Administrator/Views/Home/Topsidebar.cshtml")
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @Html.Partial("~/Areas/Administrator/Views/Home/Leftsidebar.cshtml")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Shop Online</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Blank Page</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Title</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        @RenderBody()
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        Footer
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        @Html.Partial("~/Areas/Administrator/Views/Home/Bottomsidebar.cshtml")

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Areas/Administrator/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Areas/Administrator/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Areas/Administrator/Content/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Areas/Administrator/Content/plugins/datatables/dataTables.bootstrap4.js"></script>
    <!-- FastClick -->
    <script src="~/Areas/Administrator/Content/plugins/fastclick/fastclick.js"></script>
    <script src="~/Areas/Administrator/Content/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/Areas/Administrator/Content/plugins/toastr/toastr.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Areas/Administrator/Content/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Areas/Administrator/Content/dist/js/demo.js"></script>
    <!-- My Javascripts -->
    <script src="~/Areas/Administrator/Content/dist/myjs/myjs.js"></script>

    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>