@model IEnumerable<ShopOnline.Models.Users>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<style>
    a {
        text-decoration: none;
        color: white;
    }
</style>
<div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>NAME</th>
                <th>USER NAME</th>
                <th>RULE</th>
                <th>STATUS</th>
                <th>MANAGER</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.UserName</td>
                    <td>@item.Rule</td>
                    <td>@item.Status</td>
                    <td><button class="btn btn-default" data-toggle="modal" data-target="#modal-default" id="btn-Delete"><a data-href="/Administrator/User/Delete/@item.Id">Delete</a></button></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>NAME</th>
                <th>USER NAME</th>
                <th>RULE</th>
                <th>STATUS</th>
                <th>MANAGER</th>
            </tr>
        </tfoot>
    </table>
</div>

<!-- /.card-body -->

<div class="modal fade" id="modal-default" data-url='@Url.Action("Delete","User")'></div>
<!-- /.modal -->

@section scripts{
    @*<script>
            $(document).ready(function () {
                $('#btn-Delete > a').click(function (e) {
                    $('#get-Dellink > a').removeAttr('href');
                    var href = $(this).data('href');
                    $('#get-Dellink > a').attr('href', href);
                    e.preventDefault();
                })
            });
        </script>*@
    <script>
        $(document).ready(function () {
            $('#btn-Delete').click(function (e) {
                var url = $('#modal-default').data('url');
                $.get(url, function (data) {
                    $('#modal-default').html(data);
                    $('#modal-default').modal('show');
                });
            });
        });
    </script>
}